@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.li-anchor{
    position: relative;
}

.li-anchor::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: transparent;

    position: absolute;
    left: -130%;
    bottom: 0;

    transition: all 0.2s ease-in-out;
}

.li-anchor:hover::before{
    background-color: steelblue;
    left: 0;
}

.avatar{
    animation: avatar-ani 1s linear;
}

.intro{
    animation: intro-ani 1s linear;
}

.vscode{
    animation: vscode-ani 1s ease-out;
}

.about-text{
    animation: about-text-ani 1.5s linear;
    animation-fill-mode: forwards;
}

@keyframes avatar-ani {
    from{
        transform: translateX(-400px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes intro-ani {
    from{
        transform: translateX(400px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes vscode-ani{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes about-text-ani {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}